@model WarehouseManager.Models.Invoice

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="form-horizontal" id="entity-id" data-entity-id="@Model.InvoiceId">
    <h4>Invoice</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Number)</dt>
                <dd>@Html.DisplayFor(model => model.Number)</dd>

                <dt>@Html.DisplayNameFor(model => model.Date)</dt>
                <dd>@Html.DisplayFor(model => model.Date)</dd>

                <dt>@Html.DisplayNameFor(model => model.Validated)</dt> 
                <dd>@Html.DisplayFor(model => model.Validated)</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h2 id="invoiceTotal"></h2>
        </div>
    </div>
    <hr />

    <div class="panel panel-default">
        <table class="table table-striped table-condensed table-hover table-fixed" id="invoiceProducts">
            <thead>
                <tr>
                    <th>Product</th>
                    <th width="15%">Quantity</th>
                    <th width="15%">Price</th>
                    <th width="10%">Actions</th>
                </tr>
            </thead>
            <tbody>
                @* I should do a @Html.RenderPartial() or @Html.EditorFor() here. 
                   But I get an error saying ICollection<T> is expected and got DynamicCollection<T>
                   I'll hopefully figure it out later *@
            </tbody>
        </table>
    </div>
</div>

<div class="container" id="searchGroup" @if (Model.Validated) { <text> hidden</text> }>
    <div class="row form-group">
        <input type="text" class="form-control col-md-10 col-xs-10" id="productSearch" placeholder="type a product name" onkeypress="handleSearchKeypress(event)"/>
        <div class="col-md-2 col-xs-2">
            <button class="btn btn-info" type="button" id="btnProductSearch">Search</button>
        </div>
    </div>

    <div class="row" id="noProducts" hidden>No products found.</div>

    <div class="row panel panel-default" id="searchResults" hidden>
        <table class="table table-striped table-condensed table-hover table-fixed" id="productsTable">
            <thead>
                <tr>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<hr />
<div>
    @Html.ActionLink("Back to List", "Index", "Invoices", new { @class = "btn btn-primary" })
    @if (!Model.Validated)
    {
        <button class="btn btn-success" id="btnValidate">Validate</button>
    }
    else
    {
        <button class="btn btn-danger" id="btnInvalidate">Invalidate</button>
    }
</div>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/App/orderEdit.js")
}
